@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #f05454;
}

[data-theme="dark"] {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-primary: #ff0b55;
}

[data-theme="light"] {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #f05454;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
