@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f6f7eb;
  --color-foreground: #393e41;
  --color-primary: #ff752b;
}

[data-theme="dark"] {
  --color-background: #252728;
  --color-foreground: #f6f7eb;
  --color-primary: #fa8648;
}

[data-theme="light"] {
  --color-background: #f6f7eb;
  --color-foreground: #252728;
  --color-primary: #ff752b;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
